{% extends 'products/base.html' %}

{% block title %}
  Create Product
{% endblock %}

{% block body %}
  <h2>Create a new product</h2>
  <div id="form-block">
    <form method="post">

      <div class="my-3">

        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(size=20, class="form-control") }}

        {% if form.errors %}
          {% for field_name, errors in form.errors.items() %}
            <div class="my-3 alert alert-danger">
              <strong>{{ field_name }}</strong>
              <ul>
                {% for error in errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        {% endif %}

      </div>
      <div class="btn-group" role="group" aria-label="BtnGroup02">
        <input class="btn btn-outline-success" type="submit" value="Add">
        ...
        <a class="btn btn-outline-primary"
         href="{{ url_for('products_app.list') }}">Back to products list</a>
      </div>
    </form>
  </div>

{% endblock %}
