{% extends 'products/base.html' %}

{% block title %}
  Confirm delete product #{{ product.id }}
{% endblock %}

{% block body %}
  <h3>Are you sure you want to delete product   <code>{{ product.name }}</code>  ?</h3>
  <h2>This cannot be undone!</h2>
  <br>
  <div class="btn-group" role="group" aria-label="BtnGroup03">
    <a class="btn btn-outline-primary"
       href="{{ url_for('products_app.list') }}">Back to products list</a>
    ...
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input class="btn btn-outline-danger" type="submit" value="Delete">
    </form>
  </div>
{% endblock %}
