.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

table {
  width: 100%;
  max-width: 400px;
  height: 240px;
  margin: 0 auto;
  display: block;
  overflow-x: auto;
  border-spacing: 0;
}