{% extends "base_generic.html" %}

{% block content %}
  <h2>{{ manager.full_name }}</h2>

  <p><strong>Отдел:</strong> <a href="">{{ manager.department }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Должность:</strong> {{ manager.title }}</p>
  <p><strong>email:</strong> {{ manager.email }}</p>
  <p><strong>Имя в системе:</strong> {{ manager.system_name }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Рассылки</h4>
      <hr>
    <table>
    {% for subscription in manager.subscription.all %}
    <tr>
        <td>
            <span class="text-muted"><strong>Id:</strong> {{subscription.id}}</span>
        </td>
        <td>
            <span class="{% if subscription.status == '+' %}text-success
                            {% elif copy.status == '-' %}text-danger
                            {% else %}text-warning
                            {% endif %}">
            {{ subscription.get_status_display }}
            </span>
        </td>
        <td>
            {% if subscription.status != '+' %}
            <p><strong>Неактивна</strong>{{subscription.due_back}}</p>
            {% endif %}
        </td>
        <td>
            <strong>Частота:</strong> {{subscription.frequency}}
        </td>
    </tr>
    {% endfor %}
</table>



  </div>

{% endblock %}
